*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  background-color: bisque;
}

/*Header*/

.navbar {
  position: absolute;
  top: 0;
  width: 95%;
}

.navbar-toggler {
  position: fixed; 
  top: 15px;
  right: 15px;
  background-color: rgb(94, 80, 63);
  z-index: 999;
}

.offcanvas {
  background-color: rgb(94, 80, 63);
}

#offcanvasNavbarLabel {
  color: white;
}

/*Barres de défilement, code trouvé sur internet*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/*Sections*/

.container-fluid {
  padding: 10px;
}

.img-accueil { 
  width: 100%;
}

.who {
  padding-bottom: 20px;
}

.photos {
  display: flex;
  justify-content: center;
}

.carousel {
  text-align: center;
  padding-bottom: 30px;
}

.carousel img {
  border-radius: 30px;
  height: 250px;
  width: 300px;
  /*Attention une fois le carousel hover, le carousel ne défile plus*/
  padding-bottom : 15px;
}

.carousel-control-prev, .carousel-control-next {
  display: none;
}

/*Page carte*/

  .contactMain {
    padding: 0;
    margin: 0;
  }

  .container-onglets {
    display: flex;
    border-bottom: 1px solid rgb(255, 136, 0);
    height: 60px;
    color: rgb(255, 136, 0);
  }

  .onglets {
    width: 167px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
  }

  .contenu h3 {
    padding : 15px;
    margin: 0;
  }

  .contenu hr {
    width: 20%;
    height: 2px;
    margin-left: 15px;
    margin-top: 0;
    background-color: rgb(61, 61, 61);
    border: none;
  }

  td.cell {
    padding-left: 15px;
    padding-right: 15px;
  }

  .divBlank {
    height: 100px;
  }

  /*Onglets dynamiques JS carte*/

  .contenu2, .contenu3, .contenu4 {
    display: none;
  }

  .container-onglets .active {
    background-color: rgb(255, 136, 0);
    color: white;
    transition: all 0.3s ease;
  }

  .activeContenu {
    animation: fade 0.5s forwards;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/*Evenements*/

.eventSection {
  padding: 10px;
}

.eventTitle {
  text-align: center;
}

/*Galerie photos*/

.imgGalery {
  width: 90%;
  margin: 15px;
  border-radius: 10px;
}

/*Contact*/

.contactBtnFb {
  text-decoration: none;
}

svg, .contactLinkFb {
  color: white;
}


/*Footer*/

footer {
  background-color: rgba(128, 128, 128, 0.5);
  padding-top: 10px;
  padding-bottom: 1px;
  margin-top: 40px;
  font-size: small;
}

footer ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: small;
  color: rgb(63, 60, 60);
}

footer ul li a:hover {
  color: rgba(189, 47, 59, 0.7);
  text-decoration: underline;
}

.mention, .author {
  display: flex;
  justify-content: space-around;
}

.mention li, .author li {
  list-style-type: none;
}

/*Média queries*/

@media screen and (min-width: 992px) { 
  .navbar-nav > .nav-item > .nav-link { 
    color: white;
    font-weight: bold;
  }

  .navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.294);
  }

  .img-accueil {
    width: 50%;
    max-height: 400px;
    max-width: 610px;
    border-radius: 50%;
    position: relative;
    top: 90px;
    left: 20px;
  }

  .who {
    position: absolute;
    top: 100px;
    left: 60%;
    width: 400px;
  }

  .carousel {
    padding-top: 30px;
  }

  .photos {
    position: absolute;
    top: 550px;
    width: 98%;
  }

  .carousel img {
    height: 400px;
    width: 500px;
  }

  footer {
    position: absolute;
    top: 1000px;
    width: 100%;
  }

  /*Carte*/

  .img-accueil-contact {
    left: 50%;
    transform: translate(-50%);
  }

  .contactMain {
    position: relative;
    top: 150px;
  }

  .container-onglets, .active {
    width: 100%;
  }

  .divBlank {
    display: none;
  }

  .footer-carte {
    position: relative;
    top: 200px;
  }

  /*Galerie*/

  .img-accueil-galery {
    display: none;
  }

  /*Contact*/

  .img-accueil-contact {
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  .mainContact {
    position: relative;
    top: 150px;
  }

  iframe {
    width: 500px;
    height: 500px;
    padding-top: 20px;
  }

  .footerContact {
    position: relative;
    top: 300px;
  }
}

@media screen and (min-width: 1360px) {

  .who {
    width: 650px;
    top: 120px;
    left: 50%;
  }

  .missions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .title_missions {
    align-self: center;
  }
}
